body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #0e153a;
}

h1{
    font-size: 562.5%;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #22d1ee;
}

p{
    font-size: 1.5rem;
    margin: 0;
    color: #3d5af1;
}

h2{
    font-size: 2.5rem;
    font-family: 'Sanchez', serif;
    color: #22d1ee;
    margin: 0;
}

h3{
    font-family: 'Proza Libre', sans-serif;
    text-align: left;
}

hr{
    border: 5px solid #22d1ee;
    border-radius: 50%;
    border-bottom: none;
    margin: 50px auto;
    width: 70%;
}

                        /* #### CLASSES #### */

.profile{
    height: 540px;
}

.skill-img{
    width: 25%; 
    float: left;
    margin-right: 30px;
}

.skill-img-css{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.subtitle{
    font-size: 2.5rem;
    font-weight: normal;
    font-family: 'Sanchez', serif;
    color: #22d1ee;
    margin: 0;
}

.skill-p{
    font-size: 1.5rem;  
    margin: 0;
    color: #3d5af1;
    text-align: left;
    line-height: 2;
}

.top-container{
    position: relative;
    background-color: #0e153a;
    padding-top: 100px;
}

.middle-container{
    background: #0e153a;
    height: 100%;
    width: 100%;
}

.bottom-container{
    background-color: #1f4287;
    height: 30px;
    width: 100%;
    padding: 10px 0 10px;
}

.stars{
    height: auto;
    width: auto;
}

.skill-row{
    margin: 100px auto 100px auto;
    text-align: left;
    width: 50%;
}

.intro{
    margin: 0 auto 20px auto;
    width: 30%;
    line-height: 2;
}

.avi{
    margin-top: 20px;
}

.pro{
    text-decoration: underline;
}

.top-moon{
    position: absolute;
    transform: scaleX(-1);
    right: 30px;
    top: 50px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.footer-link{
    font-family: 'PT Sans', sans-serif;
    color: #22d1ee;
    text-decoration: none;
    margin: 10px;
}

.copyright{
    font-family: 'PT Sans', sans-serif;
    color: #22d1ee;
    font-size: small;
    margin-top: 15px;
}

.contact-msg{
    width: 40%;
    margin: 40px auto 60px;
}

.tron {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    color: #00D8F4;
    font-family: 'Sanchez', serif;
    font-size: 15px;
    padding: 2px;
    background-color: #000000;
    -webkit-box-shadow: 1px 1px 40px 0 #00D8F4;
    -moz-box-shadow: 1px 1px 40px 0 #00D8F4;
    box-shadow: 1px 1px 40px 0 #00D8F4;
    border: outset #073e7c 5px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    text-align: center;
    width: 150px;
    margin: auto auto 30px auto;
}

.tron:hover {
    border: outset #00E2FF 5px;
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 29px;
    -moz-border-radius: 29px;
    border-radius: 29px;
    text-decoration: none;
}