body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    font-size: 562.5%;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #22d1ee;
}

p{
    font-size: 2.5rem;
    margin: 0;
    color: #3d5af1;
}

h2{
    font-size: 2.5rem;
    font-family: 'Sanchez', serif;
    color: #22d1ee;
    margin: 0;
}

.subtitle{
    font-size: 2.5rem;
    font-weight: normal;
    font-family: 'Sanchez', serif;
    color: #22d1ee;
    margin: 0;
}

h3{
    font-family: 'Proza Libre', sans-serif;
}

.stars{
    height: auto;
    width: auto;
}

.top-container{
    position: relative;
    background-color: #0e153a;
    padding-top: 100px;
}

.middle-container{
    background: #0e153a;
    height: 100%;
    width: 100%;
}

.bottom-container{
    background-color: blue;
    height: 100%;
    width: 100%;
}

.pro{
    text-decoration: underline;
}

.top-moon{
    position: absolute;
    transform: scaleX(-1);
    right: 30px;
    top: 50px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.footer-link{
    font-family: 'PT Sans', sans-serif;
    color: #22d1ee;
}

.btn{
    font-family: 'PT Sans', sans-serif;
    color: #22d1ee;
}

.copyright{
    font-family: 'PT Sans', sans-serif;
    color: #22d1ee;
    font-size: small;
}